*{
	margin: 0;
	padding: 0;
}
#max{
	width: 100%;
	height: 100%;
	background-color: dodgerblue;
}
#color{
	width: 99%;
	height: 940px;
	background-color: white;
	margin-left: 0.5%;
}
#max_text{
	background-color: dodgerblue;
	width: 100%;
	height: 60px;
}
#max_text p{
	font-size: 40px;
	text-align: center;
}
.nav-text p{
	width: 12%;
	height: 25px;
	background-color: lawngreen;
	margin-left: 5%;
}
#nav ul li{
	display: inline-block;
	padding-left: 150px;
	font-size: 20px;
	padding-top: 5px;
}
#nav{
	width: 85%;
	height: 45px;
	background-color: #cfd2cf;
	margin-left: 5%;
	margin-top: 5px;
}
#nav p{
	display: inline;
	margin-left: -90px;
}
#nav span{
	margin-left: 30%;
}
#money{
	margin-top: 5px;
}
#money_yrt{
	padding-top: 40px;
}
#money_yrt p{
	width: 30%;
	height: 50px;
}
.a{
	border-bottom: 1px solid;
}
#money_yrt img{
	width: 100px;
	height: 60px;
	margin-top: 50px;
}
#money_yrt input{
	width: 20px;
}
#money_yrt span{
	margin-left: 28%;
}

#vote_wit img{
	width: 100px;
	height: 60px;
	margin-top: 50px;
}
#vote_wit{
	padding-top: 40px;
	
}
#vote_wit input{
	width: 20px;
}
#vote_wit span{
	margin-left: 28%;
}
#hot_tix{
	padding-top: 40px;
	
}
#hot_tix img{
	width: 100px;
	height: 60px;
	margin-top: 50px;
}
#hot_tix input{
	width: 20px;
}
#hot_tix span{
	margin-left: 28%;
}
.text{
	padding-left: 85px;
	margin-top: 15px;
	font-size: 20px;
	color: #a99fa1;
}
.texts strong{
	margin-left: 55%;
}
.texts button{
	width: 100px;
	height: 60px;
	background-color: red;
	color: white;
	margin-left: 11%;
}
#way_money{
	color: #FD0000;
	font-size: 30px;
}
